
.userFieldContainer {
    display:flex; 
    flex-direction: row; 
    justify-content: center;
}

.userField {
    order: 1;
    border-width: 0px; 
    border-radius: 10px; 
    height: 3.4vw; 
    width: 25vw; 
    align-self: center; 
    position: relative;
}

.passField{
    border-width: 0px; 
    border-radius: 10px; 
    height: 3.4vw; 
    width: 25vw; 
    align-self: center; 
    position: relative;
}

.accountCreateLink {
    border-width: 0px; 
    border-radius: 10px; 
    height: 3.4vw; 
    width: 25vw; 
    align-self: center; 
    position: relative;
}

.accountSubmit{
    align-self: center; 
    position: relative; 
    width: 15vw; 
    height: 3.4vw;
}

.accountCollector{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    width: 100%;
}

.adminButton {
    background-color: white;
    border-radius: var(--border-weight);
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}