.root{
    --info-color: #d9d9d9;
    --button-color: #ffffff;
    --text-color: #000000;
}

.quickView {
    margin-top: 100px;
    margin-left: var(--min-margin);
    margin-right: var(--min-margin);
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* ensures both sides match height */
    gap: 20px;
}

.topRow {
    display: flex;
    gap: 20px;
    width: 100%;
}

.cell {
    background-color: var(--light-grey);
    border-radius: var(--border-weight);
    padding: 10px;
    flex: 1;
    /* Share space equally */
    text-align: left;
}

.cell h1{
    margin-bottom: 10px;
}

.ActionButtonsList{
    display: flex;
    flex-direction: column;
}

.infoText {
   
}

.infoText dt{
    margin: 10px;
    background-color: var(--text-background);
    border-radius: var(--border-weight);
    padding: 10px;
}

.leftSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rightSide {
    flex: 0 1 300px;
    /* or however narrow you want */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accountList dt{
    margin: 15px 10px 30px 10px;
    background-color: white;
    border-radius: var(--border-weight);
    padding: 10px 10px 50px 10px;
    text-align: left;
}

.searchUser {
    background-color: var(--text-background);
    border-radius: var(--border-weight);
    padding: 15px;
}
