/* UserWebBackend.module.css */
.backButton {
    background-color: white;
    border: none;
    position: fixed;
    top: 80px;
  }
   .logoutButton {
    /* Assuming general styles for logout */
    position: absolute;
    top: 20px;
    right: 20px;
  }
   .logoStyle {
    height: 40px;
    width: auto;
    margin: 10px;
  }
   .topBar {
    width: 100%;
    height: 60px;
    background-color: #333; /* example */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
 