<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Creation</title>
    <link rel="stylesheet" href="Generals.css">
</head>
<body>
    <header>
        
        <!-- This button will take the user back to the home page -->
        <a href = "index.html">
            <button class = "homeButton" class = "generalText">Home</button>
        </a>
        <div class = "pageTitle">
        <h1 class = "generalText">Account Creation</h1>
        </div>
    </header>
</body>
</html>