<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Creation</title>
    <link rel="stylesheet" type = 'text/css' href="css/Generals.css">
    <link rel="stylesheet" type = 'text/css' href="css/Assets.css">
</head>
<body>
    <header>
        
        <!-- This button will take the user back to the home page,Should eventually contain logo -->
        <a href = "index.html">
            <button class = "homeButton" class = "generalText">Home</button>
        </a>
        <div class = "pageTitle">
        <h1 class = "generalText">Account Recovery</h1>
        </div>
        <div class="account-box">
            <form id="accountForm">
                <div class="form-group">
                    <label for="email" class="generalText">Recover with Email Address</label>
                    <input type="email" id="email" name="email" required>
                </div>
                           
                <button type="submit" class="submit-button generalText">Send recovery email</button>
                
                <div class="form-footer generalText">
                    <!-- will go to default login page-->
                    <p>Don't need to reset anymore? <a href="login.html">Log In</a></p>
                </div>
            </form>
        </div>
    </header>

</body>
</html>