<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http0equiv="X-UA-Compatible" content="IE=edge">
	<title>Admin View</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type = "text/css" media="screen" href="General.css">
	<script src="main.js"></script>
</head>
<body>
	<h1>Admin Account View</h1>
	<h2>the view an admin has over their website's status</h2>
<!--
figma includes calling up and viewing details on specified users
-->
</body>
</html>
