<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Index</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <!-- Link to the relevant files -->
    <script src='src/SpotFront.js'></script>
    <link rel='stylesheet' type = 'text/css' href='css/Generals.css'>
    <link rel='stylesheet' type = 'text/css' href='css/Assets.css'>
    
    <script src='main.js'></script>
</head>
<body>
    <h1>Index</h1>
    <h2>If you see me, the index route is working properly</h2>
</body>
</html>