<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Portal</title>
    <link rel="stylesheet" type = 'text/css' href="css/Generals.css">
    <link rel="stylesheet" type = 'text/css' href="css/Assets.css">
</head>

	<body>
		<div class="nav bar">
			<a href="./HomeButton.html">
				<img src="./Blueprint_trans.png" class = "logoStyle"/></a>
			<a href="./features.html">
				<button class="generalText" class="generalText">Features</button></a>
			<a href="./Pricing.html">
				<button generalButton generalText class="generalText">Pricing</button></a>
		</div>
		<div class="account bar" align="right">
			<a href="./index.html">
				<button class="logoutButton" class="geleralText">Log Out</button></a>
			<br>
			<a href="./Admin-Page.html">
				<button class="accountViewButton generalText" class="generalButton">Account View</button></a>
		</div>
<!-- 
needs <div id="<something>"> for the backend

try to add in some buttons too, especially a log out button and "go to project" button section
-->
</body>
</html>
