<!DOCTYPE html>

<!-- CSS -->
 <style>
    .backButton {
        /* Appearance */
        background-color: white;
        border: none;
        /* Position */
        position: fixed;
        top: 80px;
    }
 </style>

<html lang = "en">
    <!-- Ensure the page fits within aspect ratios -->
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <title>Project View</title>

        <!-- Link to the relevant files -->
        <script src='src/SpotFront.js'></script>
        <link rel='stylesheet' type = 'text/css' href='css/Generals.css'>
        <link rel='stylesheet' type = 'text/css' href='css/Assets.css'>
    </head>

    <body>
        <div class = "TopBar">
            <!-- A dark grey bar across the top of the screen -->
             <!-- <div class = "topBarBackground"></div> Experimental. Commented out as it is not in the Figma -->

            <!-- A button that when clicked links to the LoggedOutPage.html -->
            <a href = "Login.html">
                <button class = "logoutButton generalButton generalText">Log Out</button>
            </a>

            <!-- A logo in the top left, links back to the home page when clicked -->
            <a href = "HomePage.html">
                <img title = "Logo" src = "Blueprint_trans.png" class = "logoStyle">
            </a>
        </div>

        <!-- Back button in the top left below the bar -->
         <div>
            <a href = "HomePage.html">
                <button class = "backButton generalButton generalText">Back</button>
            </a>
         </div>

    </body>

</html>