.logo {
    width: 300px;
    align-self: center;
    justify-self: center;
    position: relative;
    height: 300px;
    border-radius: 200px;
    align-content: center;
    transform: translateX(125px) translateY(-25px);
}

.loginContainer {
    margin-top: 30vh;
    position: relative;
    justify-content: center;
    align-items: center;
}