.logo {
    width: 50%;
    align-self: center;
    justify-self: center;
    position: relative;
    height: 60%; 
    border-radius: 200px;
    align-content: center;
    transform: translateX(125px) translateY(-25px); /* centering logo */

}

.body {
    margin-top: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Creates two equal-width columns */
    gap: 25vw;
    /* Adds space between columns */
}

.bodySection{
    border-style: solid;
    border-width: 8px;
    border-radius: 10px;
    width: auto;
}

.createSection{
    background-color: var(--dark-grey);
    border-color: var(--light-blue);
    
}

.reqsSection{
    background-color: var(--light-blue);
    border-color: var(--dark-grey);
    padding: 10px;
    text-align: left;
}

.infoBox{
    background-color: aliceblue;
    border-radius: var(--border-weight);
    padding: 10px;
    margin: 10px;
}

.form{
    padding: 10px;
    color: var(--light-grey);

}

.form input[type="checkbox"] {
    transform: scale(2);
    margin: 0px 0px 10px 10px;
}