.logo {
    width: 50%;
    align-self: center;
    justify-self: center;
    position: relative;
    height: 60%; 
    border-radius: 200px;
    align-content: center;
}

.loginContainer {
    margin-top: 30vh;
    position: relative;
    justify-content: center;
    align-items: center;
}