@font-face {
    font-family: 'OpenDyslexic';
    src: url('fonts/OpenDyslexic3-Regular.ttf') format('truetype');
}

/* Global variables from the Spot.js file */
:root {
    --background-color: rgb(175, 175, 175); /* Warning value, means the import is not working */
    --global-font: 'OpenDyslexic';
    --lime-green: #72D360;
    --dark-grey: #282828;
    --dark-blue: #1E4356;
    --light-blue: #099CAC;
}

body {
    font-family: var(--global-font), sans-serif;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.generalText {
    font-family: var(--global-font), sans-serif;
}