@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

body {
    font-family: "Alexandria", sans-serif;
    background-color: #707070;
}

.generalText {
    font-family: "Alexandria", sans-serif;
}

.loginContainer {
    /* Appearance */
    background-color: hsl(0, 0%, 62%);
    width: 45vw;
    height: 75vh;
    /* Positioning */
    top: 70px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
}

/*Purely for development purposes 
ensure to exlude any references to this*/
.debug {
    border-style: dotted;
    border-color: red;
}

.logoStyle {
    /* Appearance */
    width: 50px;
    height: 50px;
    /* Positioning */
    position: fixed;
    top: 10px;
    left: 10px;
}

.largeTitleText {
    /* Fonts */
    font-size: 70px;
    font-weight: 700;
    color: white;
    /* Positioning */
    position: fixed;
    left: 30px;
    top: 40px;
}

.mediumTitleText {
    /* Fonts */
    font-size: 30px;
    font-weight: 500;
    color: white;
    /* Positioning */
    position: fixed;
    left: 30px;
    top: 150px;
}

.generalButton {
    /* Button Appearance */
    border-radius: 20px;
}

.topBarBackground {
    /* Appearance */
    background-color: #282828;
    /* Positioning */
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logoutButton {
    /* Fonts */
    font-size: 20px;
    font-weight: 400;
    /* Button scalars */
    width: 110px;
    height: 45px;
    /* Positioning */
    position: fixed;
    top: 13px;
    right: 15px;
}