@font-face {
    font-family: 'OpenDyslexic';
    src: url('fonts/OpenDyslexic3-Regular.ttf') format('truetype');
}

body {
    font-family: "OpenDyslexic", sans-serif;
    background-color: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generalText {
    font-family: "OpenDyslexic", sans-serif;
}