/* Vertically aligns title, subtitle, and create website button*/
.body {
    text-align: center;
    color: black;
    margin: 50px auto 0 auto;
    display: block;
    width: 70%;
    max-width: 1000px;
    min-width: 300px;
}

/*Handles the content in the body of the page, outside of top bar*/
.content {
    margin-left: 30px;
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.568);
    min-width: 430px;
    padding: 30px;
    max-width: 85%;
    width: 80%;
}

/* Title: "Get started..." */
.h1{
    font-size: 45px;
    padding-top: 30px;
}

/* Subtitle: "With Blueprint..." */
.p {
    font-size: 40px;
}

/* Create a website button*/
.createButton {
    padding: 10px 20px;
    border: dashed black;
    border-width: 7px;
    background: darkgrey;
    border-radius: 20px;
    width: 90%; 
    font-size: 50px;
    line-height: 80px;
}

.createButton:hover {
    background-color: var(--light-blue);
    cursor: pointer;
}