.container {
  width: 80%;
  max-width: 1200px;
  background: #666;
  padding: 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 15px;
  transform: translateY(150px);
}

  .box {
    background: #888;
    padding: 15px;
    border-radius: 10px;
  }
  
  .logo {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
  }
  
  .statusSummary div {
    background: #aaa;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
  }
  
  .userSummary input,
  .accountList div {
    background: white;
    color: black;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .actions button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
  }
  
  .modifyAccounts input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
  }
  
  .addAccount {
    background: #ffffff;
    color: #000000;
  }
  
  .graphContainer {
    grid-column: span 3;
    background: #777;
    padding: 20px;
    border-radius: 10px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }